*,
*::before,
*::after {
    box-sizing: border-box;
}

html { scroll-behavior: smooth }

:root {
    --ff-primary: 'Manrope', sans-serif;

    --fw-h1: 600;
    --fw-body: 200;

    --fs-h1: 2em;
    --fs-body: 1em;

    --clr-dark: #060606;
    --clr-light: #FEFEFE;
    --clr-lightgray: #9d9d9d;
    --clr-accent: #EA7E0D;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    color: var(--clr-dark);
}

img {
    width: 100%;
}


/* Typography */
h1 {
    font-weight: var(--fw-h1);
    font-size: var(--fs-h1);
}

p {
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
    line-height: 1.6em;
}

@media (min-width: 768px) {
    p { font-size: 1.3em }
}


/* General Styles */
header { 
    margin: 0 auto;
    padding: 2em 1em;
}

article {
    margin: 0 auto;
    padding: 0 1em;
}

.article__subtitle {
    margin: 0 auto .5em;
}

button:hover { cursor: pointer }

.author-photo {
    width: 3em;
    height: 3em;
}

.author-name { 
    font-size: .8em;
    margin: 7px 0 0 15px;
}

.author-name span {
    font-weight: bold;
    display: block;
}

@media (min-width: 768px) {
    header { padding: 2em }

    article { padding: 0 2em }

    .main-article-image { 
        height: 350px;
        object-fit: cover;
    }
}

@media (min-width: 1024px) {
    header { padding: 2em 6em 3em }

    article { padding: 0 6em 4em }

    .main-article-image {
        height: 100%;
    }
}

/* Header/Nav */
header,
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    list-style: none;
    padding-left: 0;
}

.nav__list__item { padding-left: 1.5em }

.nav__link { 
    text-decoration: none; 
    color: var(--clr-dark);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
}

.nav__link:hover:not(button) {
    color: var(--clr-lightgray);
}

button.nav__link { 
    background-color: var(--clr-accent);
    font-family: var(--ff-primary);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
    padding: .8em 1.5em;
    border-radius: 5px;
    border: none;
}

button.nav__link:hover { background-color: #eaa00d }

.nav-toggle { display: none }

@media (max-width: 768px) {
    nav[data-visibility="true"] {
        transform: translateX(100%);
    }

    nav {
        background-color: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(4px);
        position: fixed;
        inset: 0;
        transform: translateX(25%);
        transition: transform 350ms ease-in-out;
        z-index: 100;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        background-image: url("./Assets/Close\ Button.svg");
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        width: 2em;
        aspect-ratio: 1;
        top: 2.5em;
        right: 2em;
        z-index: 9999;
    }

    .nav-toggle[aria-expanded="true"] {
        background-image: url("./Assets/Hamburger\ Menu.svg");
        top: 2.5em;
        right: 1.5em;
    }

    .nav__list {
        margin: 0 auto;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav__link {
        position: absolute;
        left: 3.5em;
        font-size: 1.5em;
    }

    button.nav__link { font-size: 1.2em }
}


/* Main Article */
.article__main {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
        "image"
        "title"
        "subtitle"
        "writer";
}

.article__image { grid-area: image }

.article__main__title {
    margin: .5em auto;
    grid-area: title;
}

.article__main__subtitle { grid-area: subtitle }

.author-photo-with-name { 
    display: flex;
    grid-area: writer;
}

@media (min-width: 1024px) {
    .article__main {
        grid-template-areas: 
            "image title title"
            "image subtitle subtitle"
            "image writer writer"
        ;
        column-gap: 4em;
    }

    .main-article-image {
        border-radius: 10px;
    }

    .article__main__title { 
        margin: 0 auto .3em;
    }
}